@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

@keyframes blurin {
    0% {
        filter: blur(2px);
        opacity: 0;
    }
}

@keyframes blurin-contact {
    0% {
        filter: blur(2px);
        opacity: 0;
    }

    30% {
        filter: blur(2px);
        opacity: 0;
    }
}

ion-icon {
    font-size: 18px;
    position: relative;
    top: 2px;
}

body {
    --cream: #D4D9C7;
    background-color: var(--cream);
    margin: 0;
}

.title-card {
    background-color: black;
    position: relative;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title-card h1,
.title-card .contact {
    transform: translateY(-20px);
    text-transform: uppercase;
    font-family: "Lexend", sans-serif;
    color: #d5dc62;
    z-index: 2;
}

.title-card h1 {
    filter: blur(0.4px);
}

.title-card div {
    filter: blur(0.3px);
}

.title-card a {
    color: #d5dc62;
}

.title-card a:hover {
    color: var(--cream);
}

.title-card h1 {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.2em;
    animation: 2s ease-out blurin;
}

.title-card .contact {
    animation: 3.5s ease-in-out blurin-contact;
    white-space: nowrap;
}

.title-card .contact div {
    padding: 7px;
    display: inline;
}

.title-card .contact span,
.title-card .contact a {
    font-size: 12px;
    display: inline-block;
    direction: rtl;
    text-align: left;
    overflow: hidden;

    max-width: 0;
    --full-width: 200px;
    transition: max-width 0.3s ease-in-out;
}

.title-card .contact .github {
    padding-left: 60px;
}

.title-card .contact .phone {
    padding-right: 60px;
}

.title-card .contact div:hover span,
.title-card .contact div:hover a {
    max-width: var(--full-width);
}

.title-card #waves,
.title-card #noise {
    position: absolute;
}

.title-card #waves {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@keyframes noise {
    0% {
        transform: translate(-12%, -9%);
    }

    10% {
        transform: translate(-7%, -11%);
    }

    20% {
        transform: translate(-12%, -5%);
    }

    30% {
        transform: translate(-5%, -16%);
    }

    40% {
        transform: translate(-19%, -6%);
    }

    50% {
        transform: translate(-5%, -2%);
    }

    60% {
        transform: translate(-14%, -9%);
    }

    70% {
        transform: translate(-3%, -0%);
    }

    80% {
        transform: translate(-10%, -1%);
    }

    90% {
        transform: translate(-14%, -15%);
    }

    100% {
        transform: translate(-8%, -1%);
    }
}

.title-card #noise {
    pointer-events: none;
    opacity: 0.2;
    background-image: url(resources/noise.png);
    background-repeat: repeat;
    mix-blend-mode: multiply;
    width: 1000%;
    height: 1000%;
    animation: noise 11s steps(12) infinite;

    z-index: 0;
}